:root {
    --primary-color: #F05A66;
    --secondary-color: #50C646;
}

*,
*::before,
*::after {

    box-sizing: border-box;
}



* {
    margin: 0;

    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.badge {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 11px;
}


.primary-text {
    color: var(--primary-color);
}



header h1 {
    color: #000;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* // TOP BAR STYLE */
.top-bar {
    background-color: var(--primary-color);


}

.top-bar {

    font-size: 13px;
    text-align: center;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;


}

.top-left {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.top-left span,
.top-right span {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.top-left span:not(:last-child),
.top-right span:not(:last-child) {
    border-right: 1px solid #fff;
}


.top-right {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}



/* NAVBAR STYLE */

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: 100px;
}

/* NAVBAR LOGO */

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    display: flex;
    gap: 2px;


}



/* NAVBAR MENU */

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    cursor: pointer;
    transition: color 0.3s;
    white-space: nowrap;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link.hot {
    color: var(--primary-color);
}

.badge {

    --badge-color: var(--primary-color);
    position: absolute;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 8px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    margin-left: 5px;
    top: -60%;
    background: var(--badge-color);
}



.badge::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid var(--badge-color);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;

}

.badge.hot-badge {
    --badge-color: var(--primary-color);

}

.badge.blue-badge {
    --badge-color: var(--secondary-color);
}


.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -10px;
    background: white;
    border: 1px solid #eee;
    border-top: 3px solid #FF5E78;
    border-radius: 3px;
    padding: 10px 0;
    min-width: 150px;
    display: none;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    pointer-events: auto;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-size: 13px;
    transition: background 0.3s, color 0.3s;
}

.dropdown-menu a:hover {
    background: #f5f5f5;
    color: var(--primary-color);
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    content: "▼";
    font-size: 10px;
    margin-left: 5px;
    display: inline-block;
}

.dropdown-toggle:hover::after {
    content: "▲";
    font-size: 10px;
    margin-left: 5px;
    display: inline-block;
}


/* NAVBAR ACTIONS */

.header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.account-link {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    transition: color 0.3s;
}

.account-link:hover {
    color: #FF5E78;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-link:hover {
    color: #FF5E78;
}

.icon-button:hover {
    color: #FF5E78;
}

.icon-button:hover {
    transform: scale(1.1);
}

.cart-info {

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
}

.cart-info:hover {

    color: #FF5E78;
}

.cart-icon {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #FF5E78;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MOBILE NAVBAR STYLE */

.mobile-nav {
   display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
}
.mobile-nav .left {
    display: flex;
    align-items: center;
    gap: 5px;
   
}
.mobile-nav .right {
    display: flex;
    align-items: center;
    gap: 5px;
 
}

/* MOBILE NAVBAR SHEET */


.mobile-nav-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    z-index: 2000;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}


.mobile-nav-sheet.open {
  transform: translateX(0);
}


.mobile-nav-sheet .top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-sheet .top h4 {
    text-transform: uppercase;
    color: var(--primary-color);

}


.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px 20px;
    border-right:1px solid #eee;
    flex: 1;
    
}


/* Row */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
/* Link */
.sidebar-link {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: 600;
}

/* Arrow Button */
.sidebar-dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.sidebar-submenu {
    display: none;
}
.sidebar-submenu.active {
  display: block;
  
}
.sidebar-submenu li {
    padding: 12px 20px 12px 40px;
    border-bottom: 1px solid #eee;
}




.sidebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.sidebar-dropdown{
    position: relative;
    display: inline-block;
}
.sidebar-dropdown-btn{
    cursor: pointer;
    font-size: 12px;
    border: none;
    background: transparent;
    font-weight: 600;
    --rotate-angle: 0deg;
    transform: rotate(var(--rotate-angle));
    transition: transform 0.3s ease-in-out;
    padding: 15px;
    
}

.sidebar-item.active {
    background-color: #eee;
}
.sidebar-item.active .sidebar-dropdown-btn {
  background: var(--primary-color);
  color: white;

}
.sidebar-item.active .sidebar-dropdown-btn i {
   transform: rotate(90deg);

}
  

.sidebar-menu a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    transition: color 0.3s;
     
}



.sidebar-item :hover  {
    cursor: pointer;
    color: var(--primary-color);
}
/* RESPONSIVE NAVBAR */

@media (max-width: 1024px) {
    .navbar-container {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
    .top-bar {
        display: none;
    }
}
@media (min-width: 1024px){
    .mobile-nav-sheet{
        display: none;
    }
}



/* CAROUSEL STYLE */

.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background: #f5f5f5;

}

.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #eee;
}

.slide:nth-child(1) {
    background: #F05A66;
    color: white;
}

.slide:nth-child(2) {
    background: #50C646;
    color: white;
}

.slide:nth-child(3) {
    background: #333;
    color: white;
}


/* Buttons */
.carousel-btn {
    --rotate-angle: 90deg;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(var(--rotate-angle));
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
    --rotate-angle: -90deg;
}


/* <!-- FEATURE HEADER --> */

.feature-header {
    text-align: center;

    margin-top: 40px;
}

.feature-header h2 {
    color: #333333;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-header p {
    color: #555;
    font-size: 14px;
}


/* FEATURED ITEMS STYLE */
.features {
    max-width: 1200px;
    margin: 60px auto;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}


.feature-item {
    position: relative;
}

.image-wrapper {

    width: 100%;
    aspect-ratio: 3 / 4;
    /* controls size */
    cursor: pointer;

}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
}



.feature-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #fff;
    gap: 20px;
    font-size: 17px;
    padding: 20px 15px;
    margin: 10px;
    right: 0;

    opacity: 0;
    transform: translateX(20px);
    /* pointer-events: none; */

    transition:
        opacity 0.3s ease,
        transform 0.3s ease;



}

.feature-shop {
    position: absolute;
    background: var(--primary-color);
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 67%;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    gap: 5px;


}



.image-wrapper:hover .feature-bar {
    opacity: 1;
    transform: translateX(0);

}

.image-wrapper:hover .feature-shop {
    opacity: 0.8;
    transform: translateY(0);


}

.image-wrapper:hover .feature-shop:hover {
    opacity: 1;
}





.title {
    margin-top: 14px;
    font-size: 15px;

}

.star-rating {
    color: #f5b400;
    font-size: 12px;
}

.new-badge {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4caf50;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
}

.price {
    color: var(--primary-color);
    font-size: 15px;

}

.feature-btm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.shop-btn {
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}